body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* La barre de navigation */
nav{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  padding: 0 25px;
}
nav .gauche{
  display: flex;
  flex-wrap:wrap;
}
nav .gauche img{
  padding-top: 5px;
}
nav .gauche .onglets{
  display: flex;
  flex-wrap:wrap;
  margin-left: 10px;
}
nav .gauche .onglets p{
  margin-left: 10px;
  cursor:pointer;
  color: #909191;
}
nav .gauche .onglets p:hover{
  color: #fff;
}
nav .droite{
  display: flex;
  flex-wrap:wrap;
}
nav .droite p{
  margin-right: 10px;
  cursor:pointer;
}
.myButton {
  margin: 10px 10px;
  padding: 10px;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color:#fe1a00;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
  background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color:#ce0100;
}
.myButton:active {
  position:relative;
  top:1px;
}
/* Fin de la barre de navigation */

/* contenue flix  */
.films-et-series{
  background-color: #191a1a;
  padding: 25px;
}
.films-et-series .section{
  margin-bottom: 55px;
}
.films-et-series .section h2{
  color: #fff;
}
.films-et-series .section .list{
  display:flex;
  overflow-x: auto;
} 
.films-et-series .section a{
  padding-left: 5px;
  transition: transform 0.25s;
}
.films-et-series .section a:hover{
  transform:scale(1.05);
}
.films-et-series .section a img{
  height: 140px;
}

/* footer de page */
footer{
  background-color: #000;
  padding: 25px 100px;
  color: #909191;
}
footer .colonnes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
